.header {
  height: 100%;
  background-color: rgb(122, 211, 240);

  .headerContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 20px;
    margin: auto;
    gap: 50px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: rgb(79, 77, 77);

      h1 {
        font-size: 22px;
      }
    }
    .right {
      width: 500px;
      height: 400px;

      img {
        width: 500px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
